# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Byproducts
*.s
!context_switch.s
*.map
*.depends
*.elf

# Vim Files
*.swp

# PDF Files
*.aux
*.pdf
*.log
*.gz
